
.header{
    color: rgb(240, 158, 16);
    height: 400px;
    /* width: 1300px; */
    background-image: url('../pictures/photo-1736914319111-d54ada582633.avif') ;
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-size: cover;
    background-size: contain;



}

h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;

}

.second{
    /* display: none;
    visibility: hidden; */
}

.blog{
    margin: 30px;
    border: 10px solid rgb(86, 89, 243);
    padding: 15px ;
    box-shadow: 10px 10px 10px  red;
    background-color: aqua;
}

.incident{
    border: 2px solid yellow;
    /* display: block; */
}