body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}

.card-section{
    text-align: center;
}
.card-contaner{
    display: flex;
    gap: 50px ;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    box-shadow: 6px 6px 6px rgb(36, 85, 95);

}
.card:hover{
    background-color: rgb(187, 247, 247);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h3{
    font-size: 1.25em;
    font-weight: 700;
}
.card button{
    background-color: rgb(132, 194, 244);
    padding: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    
}